@model IEnumerable<TrabajadoresPrueba.Entidades.PR_TRABA>

@{
    ViewData["Title"] = "Index";
}

<h3 class="mx-auto" style="width: 310px;">
    Listado de Trabajadores
</h3>

<p>
    <a asp-action="Create" class="btn btn-primary add-dialog-window">Nuevo Registro</a>
</p>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProvincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDistrito)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDepartamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProvincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDistrito)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning editar-dialog-window" asp-route-id="@item.Id">Editar</a>
                </td>
                <td>
                    <a data-id="@item.Id" class="btn btn-danger eliminar-dialog-window">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Modal Nuevo Registro-->
<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Creación Trabajador</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="teeee">Por favor espere...</div>
            </div>
        </div>
    </div>
</div>

@*DIV MODAL EDITAR*@
<div class="modal fade" id="Editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-white" id="exampleModalLabel">Actualizar Empresa</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="teeee">Please wait...</div>
            </div>
        </div>
    </div>
</div>

<!--MODAL ELIMINAR-->

<div class="modal fade" id="Eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white" id="exampleModalLabel">Eliminar Empresa</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
                <h5>¿Está seguro de eliminar el registro seleccionado?</h5>
            </div>
            <div id="response5" class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        //ABRE EL MODAL
        $("body").on("click", "a.add-dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#Add').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#Add .teeee').html(data);
                    $('#Add').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

        //JS MODAL EDITAR
        $("body").on("click", "a.editar-dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#Editar').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#Editar .teeee').html(data);
                    $('#Editar').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

        //JS MODAL ELIMINAR

        $("body").on("click", "a.eliminar-dialog-window", null, function (e) {

            var htmlContent = '<br /><button type="button" id="btnNo" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">No</button>&nbsp&nbsp<a href="@Url.Action("DeleteConfirmed", "Trabajadores")/' + $(this).data('id') + '" class="btn btn-secondary">Si</a>';

            $("#response5").html(htmlContent);
            $('#Eliminar').modal('show');
        });
    </script>
}